[2016-09-15 11:01] bezmian opened #1 "Add public API for animations"

[2016-09-15 12:56] #1 closed

[2016-09-15 12:57] bezmian commented on #1
Merged https://github.com/TangoAgency/material-intro-screen/commit/723f899f4a255816a41c0273e7e0a4acc3782707

[2016-09-19 07:13] bezmian opened #3 "Add support for onFinish() action."

[2016-09-19 07:18] #3 closed

[2016-09-19 07:18] bezmian commented on #3
https://github.com/TangoAgency/material-intro-screen/pull/4

[2016-09-20 10:05] webserveis opened #5 "Intro Screen also known OnBoarding Screen"
Intro Screen also known OnBoarding Screen

https://www.google.es/search?q=onboarding+screen&safe=off&biw=1440&bih=770&source=lnms&tbm=isch&sa=X&sqi=2&ved=0ahUKEwi7zanf2J3PAhUCLhoKHWuVDU4Q_AUIBigB

In materialUp: https://material.uplabs.com/search?q=onboarding

[2016-09-20 11:15] #5 closed

[2016-09-20 11:16] radzio commented on #5
Closed because it was SPAM.

[2016-09-20 11:20] radzio commented on #5
This issue is irrelevant = CLOSING.

[2016-09-22 09:43] bezmian opened #6 "Add support for showing snackbar with message"
As in title, add support for showing snackbar with message from extended Intro Screen

[2016-09-25 21:31] dsdebastiani opened #7 "Add support to ask for permissions in a custom slide"
If already have a way to do that. How to?

[2016-09-26 06:56] Nizomjon1994 opened #8 "How to move from IntroActivity to another Activity"
If you swipe last screen of IntroActivity finish() function is called

[2016-09-26 06:59] #8 closed

[2016-09-28 19:01] admirallam opened #10 "set image for background"
please , add suport to set images for background

[2016-09-29 21:31] Shankymahajan opened #11 "is there any class to check that the user is running the app for the first time?"
Hello sir
Can you please tell is there any class or function to run intro screen only for the first time  ?
Next time when user opens the app so it should directly come to MainActivity

[2016-10-03 07:58] bezmian commented on #6
Fixed in https://github.com/TangoAgency/material-intro-screen/commit/a7b962dff2b96e1e1b6d6445cf06b721e1a174bf

[2016-10-03 08:41] bezmian commented on #7
Resolved in https://github.com/TangoAgency/material-intro-screen/pull/13/commits/c884c58e3f5bac68a85e9a110589b91d51b3434e.
In your custom slide, you need to add following lines to ask for permissions.
[code]

[2016-10-03 08:42] bezmian commented on #11
No there isn't. You need to implement it by yourself.

[2016-10-03 08:42] #11 closed

[2016-10-03 08:51] bezmian commented on #10
Please provide more info about that issue. I can't imagine by myself how it should look.

[2016-10-05 10:52] bezmian opened #14 "Library crashes, when developer won't add any slides"
If developer won't add at least one slide to class which is extending the MaterialIntroActivity, the library will crash

[2016-10-05 13:16] radzio commented on #7
@bezmian please do not make neededPermissions protected / public. It is more clean to add method for this:

registerNeededPermission(String permission)
registerNeededPermisions(Collection<String> permissions)

[2016-10-05 13:19] radzio commented on #14
Please provide proper description.

[2016-10-05 13:41] bezmian commented on #7
@radzio I have resolved it in the way you said.
To add permission in custom slide  you need to add following lines:
[code]

[2016-10-05 13:54] bezmian commented on #6
@radzio https://github.com/TangoAgency/material-intro-screen/pull/17

[2016-10-05 14:25] bezmian commented on #14
@radzio https://github.com/TangoAgency/material-intro-screen/pull/18

[2016-10-05 14:27] bezmian opened #19 "CanMoveFurther() method not working on last slide."
Method canMoveFurther() from MaterialIntroActivity is not working on last slide. When the user is on the last slide and clicks finish button, that method is not running, and a user can pass further.

[2016-10-05 14:42] bezmian commented on #19
@radzio https://github.com/TangoAgency/material-intro-screen/pull/20

[2016-10-06 10:45] radzio opened #21 "Add CONTRIBUTE.md, CHANGELOG.md and update README.md file"

[2016-10-09 19:19] ionutandone opened #24 "Next button does not appear if translation is set"
Even the sample doesn't show the next button. The button transitions into view after first slide.

The button appears if you remove:
[code]

Android version 4.3  (API 18) running on Samsung Galaxy Nexus.

[2016-10-10 07:23] bezmian commented on #24
Please provide some video with issue.

[2016-10-10 10:09] bezmian commented on #21
https://github.com/TangoAgency/material-intro-screen/pull/25/

[2016-10-10 19:22] ionutandone commented on #24
![device-2016-10-10-212028](https://cloud.githubusercontent.com/assets/8360692/19248325/944c0e88-8f2f-11e6-85ae-ca7c36f98426.png)
![device-2016-10-10-212049](https://cloud.githubusercontent.com/assets/8360692/19248324/944be11a-8f2f-11e6-81c4-f64b8e232155.png)
![device-2016-10-10-212102](https://cloud.githubusercontent.com/assets/8360692/19248326/944eb1c4-8f2f-11e6-98c8-59796a3f9dce.png)

[2016-10-11 10:41] bezmian commented on #24
@radzio https://github.com/TangoAgency/material-intro-screen/pull/26
@ionutandone I have realised, that I have created an example which can be misunderstood by other developers. I have updated the example in above PR, but the feature:
[code]
will be still available as some developers might want to use it.

[2016-10-12 08:31] Rainer-Lang opened #28 "Is it possible to set other button-icons?"
Buttons: previous, next, finish,...

[2016-10-12 08:33] Rainer-Lang opened #29 "Is it possible to set another color of the indicator?"

[2016-10-12 08:45] bezmian commented on #29
The indicator by default has colour same as buttonsColor.

[2016-10-12 08:45] #29 closed

[2016-10-12 09:27] #19 closed

[2016-10-12 09:28] #14 closed

[2016-10-12 09:28] #7 closed

[2016-10-12 09:29] #21 closed

[2016-10-12 09:30] #6 closed

[2016-10-12 09:49] #24 closed

[2016-10-13 12:19] Scrounger opened #32 "canMoveFurther on last slide: swipe still working"
@radzio
If have a customSlide as lastslide, excatly like your example:
https://github.com/TangoAgency/material-intro-screen/blob/master/app/src/main/java/agency/tango/materialintro/CustomSlide.java

In some cases it is possible to swipe it away without recognizing the canMoveFurther() condition (in this case, accepting the terms of use)

[2016-10-13 12:24] bezmian commented on #32
Resolved in https://github.com/TangoAgency/material-intro-screen/issues/19. Please use 0.0.4 version

[2016-10-13 14:46] Scrounger commented on #32
@bezmian
I use and tested it with v0.0.4 on API 23.
It happens if you swipe fast throug all slides.
It only works if you wait ~1s on the last slide.

[2016-10-13 16:32] bezmian commented on #32
@Scrounger Please record gif with issue. I will investigate as soon as possible

[2016-10-13 19:57] Scrounger commented on #32
@bezmian
![Uploading bug_sliding.gif…]()

[2016-10-13 20:22] Scrounger opened #33 "Permission slide: Listener after Permission is granted"
Is there a Listener after permission is granted in Permission slide to start a little peace of code?

[2016-10-14 07:10] bezmian commented on #32
@Scrounger What is your testing device?

[2016-10-15 07:21] Scrounger commented on #32
@bezmian
Testing device: Emulator Nexus 5 (API 23) and Nexus 5 (API)
Sorry, sharing the project code is not possible.

[2016-10-17 09:28] bezmian commented on #33
Currently there is no listener available, but we have it in our TODO list ;)

[2016-10-17 09:28] bezmian commented on #28
Currently there is no listener available, but we have it in our TODO list ;)

[2016-10-18 10:55] bezmian commented on #10
@admirallam Do you mean something like this: https://github.com/ihsanbal/SlidingIntoView ?

[2016-10-19 13:01] bezmian commented on #32
@radzio https://github.com/TangoAgency/material-intro-screen/pull/34

[2016-10-23 00:00] Fleker opened #35 "No support for Android TV / Gamepads"
This doesn't work on an Android TV. From the demo project, I can move left and right to navigate between different views until the "Terms & Conditions". I can't focus on the checkbox and I'm stuck.

[2016-10-23 00:30] OssamaTamraoui opened #37 "Failed to resolve"
Gradle failed to resolve compile 'agency.tango.android:material-intro-screen:{latest_release}
And i had to search for the latest release manually which is 0.0.4 and add it manually

compile 'agency.tango.android:material-intro-screen:0.0.4

[2016-10-24 11:21] bezmian commented on #35
@Fleker Great idea! I will add support for that in upcoming library version 0.0.5. Also, I'm sorry but I need to decline your PR as I want to resolve it in another way.

[2016-10-25 07:50] bezmian commented on #35
@radzio https://github.com/TangoAgency/material-intro-screen/pull/38

[2016-10-27 19:55] am2222 opened #39 "go t next slide by code"
Hi,
Is there any way to go to next slide by code in a custom slide?

[2016-10-28 09:51] bezmian commented on #39
Currently no.

[2016-10-29 20:16] Scrounger opened #40 "Orientation Change: NullPointerException"
After orientation change (not on first slide) it thorws a NullPointerException:

In Manifest the Intro Activity is declared as:

[code]

[code]

[2016-10-30 18:33] Scrounger commented on #40
I have done some more testing. This only happens if you using
`new MessageButtonBehaviour`

[2016-11-01 20:10] radzio opened #41 "Add proguard configuration"
Use **consumerProguardFiles**

http://stackoverflow.com/questions/30201420/how-to-include-a-proguard-configuration-in-my-android-library-aar

[2016-11-02 08:27] bezmian opened #42 "SDK update"
Update Android SDK to 25

[2016-11-08 20:14] nfranke opened #45 "Single slide intro calculates wrong background color"
If you create an activity with a single slide, the background color ends up some odd translucent semi-random color. Adding a second slide seems to fix it.

Adding enableLastSlideAlphaExitTransition(true) also fixes this problem.

[2016-11-08 22:19] alashow opened #46 "Min API 14 Support"

[2016-11-09 11:48] radzio commented on #46
We will not provide API 14 support **but PRs are welcome**!

It is almost the end of the 2016 year, we have Android 7.1 with SDK 25 level so in my opinion, the only reasonable minSdk is 15 or even 16.

![](https://media.giphy.com/media/RFDXes97gboYg/giphy.gif)

[2016-11-09 11:48] #46 closed

[2016-11-09 12:31] burakkoray commented on #10
Yeap  @bezmian  ! absolutely like referred you. Do we have this option ?

[2016-11-09 12:38] bezmian commented on #10
No currently there isn't such an option. Maybe I will implement it in future ;)

[2016-11-09 12:39] burakkoray commented on #10
Thanks it would be great :)

[2016-11-13 06:54] am2222 opened #47 "ParallaxFrameLayout example"
Hi,
I have set up ParallaxFrameLayout but nothing changed in my slide. Can some one please share me some examples of how it works? or even some videos which shows diffrent between parallax slides and simple one?
thanks very much

[2016-11-14 08:11] bezmian commented on #47
https://github.com/TangoAgency/material-intro-screen/raw/master/images/simple_slide.gif
On this gif, every item such as TextView or ImageView while sliding are moving asynchronously. Without parallax, they will move at the same speed. Remember to set parallaxFactor in your layout. Without that, nothing will happen.

[2016-11-14 17:38] cosmicdan opened #48 "OpenGL crash on AVD running 6.0"
Nothing special. Surprised this hasn't been noticed - or is it a problem with my system somehow?

Using Intel Atom x86 in emulator, running a generic 1080p Android 6.0 instance.

Added library, added following code:

[code]

App doesn't get an FC, but just silently dies, with this in the log:

[code]

A google search turned up a mention of a problem that could be related - a crash only in Marshmal

[2016-11-14 17:40] cosmicdan commented on #48
Tried it on an emulator running 5.1.1 and the result is the same.

I have no idea what I'm doing wrong!

[2016-11-14 17:50] cosmicdan commented on #48
Sorry for the triple comment, just some extra testing:

I disabled "Host GPU acceleration" and also tested on a real phone running Marshmallow 6.0. In both those cases I no longer see the original OpenGL error, however it still silently dies with no relevant log output.

[2016-11-14 20:41] am2222 commented on #47
@bezmian  wow,Thanks for your help.

[2016-11-14 21:22] #47 closed

[2016-11-14 22:52] zlsa commented on #40
Is this fixed in master?

[2016-11-15 07:46] cosmicdan commented on #48
Well I'm out of ideas, I can't wait around for this to be fixed sadly.

Good luck with this issue and project.

[2016-11-15 08:04] bezmian commented on #40
Not yet

[2016-11-15 08:40] cosmicdan commented on #48
Well I kept at it, started fresh and put it into a new Activity instead of trying to use it in an existing fragment (where the parent Activity extended MaterialIntroActivity).

I should have followed the instructions of course, but it was very strange that I had no errors at all.

Anyway, thanks for the great library!

[2016-11-15 08:40] #48 closed

[2016-11-18 20:01] nickyrabit commented on #37
did you get to solve the issue?

[2016-11-19 10:27] radzio commented on #37
Make sure that you have jcenter() repository in your build.gradle file.

[code]

[2016-11-19 10:27] #37 closed

[2016-11-22 22:52] gokhanaliccii opened #49 "Permission request"
When i added neededPermission like
`.neededPermissions(new String[]{android.Manifest.permission.ACCESS_FINE_LOCATION, Manifest.permission.INTERNET})`.After run my app on test device (5.1)   I saw grant button on screen but problem is after clicked grant button nothing happening.

Inside "nextButtonBehaviour()" function you check hasPermissionToGrant but if you need permission not trigger permissio

[2016-11-27 03:47] das-abhilash commented on #37
No, I have
repositories {
        jcenter()
}
but it's can't resolve.

[2016-11-28 08:45] radzio commented on #37
There is no problem when resolving

`compile 'agency.tango.android:material-intro-screen:0.0.4'

You will never be able to resolve

`compile 'agency.tango.android:material-intro-screen:{latest_release}`

{latest_release} in a placeholder for proper library version ;-)

[2016-12-01 08:32] #42 closed

[2016-12-01 08:32] #40 closed

[2016-12-01 08:32] #35 closed

[2016-12-06 16:30] MaxToyberman opened #52 "RTL bug"
The next and previous buttons are on the opposite side . when testing on device with RTL language.

[2016-12-06 16:31] MaxToyberman opened #53 "Performance Issue when adding multiple fragments"
The application doesn't respond when adding multiple fragments.
this occurs when pressing the next and back button.

[2016-12-06 17:00] bezmian commented on #53
Please add more information. What device are you using, also how many fragments have you add?

[2016-12-06 17:11] MaxToyberman commented on #53
I have tested this on 2 different devices, the first one is nexus 5 and the second one is Samsung galaxy sm-j500.
I am adding 6 fragments but there is only text in there...
I have tried to run your app from the example ,if i add some simple fragments to it doesn't work.

Thanks

[2016-12-07 04:18] CeJienAJPC opened #54 "Slides displayed are semi-transparent"
I tried implementing both _Simple Slide_ and even _Custom Slide_. I both cases, the displayed Slide appears semi-transparent. Here is the image for Reference.

![screenshot_1481084056](https://cloud.githubusercontent.com/assets/15603039/20954505/f807c976-bc61-11e6-874d-673d12ab67b2.png)

There is nothing different from your Code

[code]

Am I missing something?

Regards

[2016-12-07 04:21] CeJienAJPC opened #55 "Parallax Views for PercentRelativeLayout and PercentFramelayout"
It would be great if Parallax Views for about Layouts are made available

Thanks

[2016-12-07 08:29] bezmian commented on #54
It will be fixed in future releases. Right now please add another fragment and the issue will be gone.

[2016-12-07 09:38] sagar091 opened #56 "Issue with marshamallow"
I used only one slide and when slide right, MainActivity must open. But in case of marshmallow OS, when I slide right partially, MainActivity cannot visible.. And when I slide right totally then it is visible on screen. Except marshmallow, work completely. Any suggestion or any trick for Marshmallow OS..??

[2016-12-07 09:40] bezmian commented on #56
That's Marshmallow bug. Can't do anything about that :(

[2016-12-07 10:17] #56 closed

[2016-12-07 10:21] bezmian commented on #53
@MaxToyberman Are you sure that it's performance issue? I have tested app on Sony Xperia Z with 8 fragments and it works like a charm. Also please notice that max number of fragments held in memory is 5 (the current one, and two for both sides).

[2016-12-07 12:16] MaxToyberman commented on #53
@bezmian Did you check it on a real device or an emulator ?
because it works ok on GenyMotion.
on a real device even when i run your example and i copy paste your slides it is stuck.

maybe i can record my screen and show you this.

[2016-12-07 13:45] bezmian commented on #53
I tested it on real device, Genymotion and Android studio emulator as well.

[2016-12-08 11:43] MaxToyberman commented on #53
@bezmian I have found the problem.... this was caused by instantiating SharedPreferences in the fragment

[2016-12-08 11:43] #53 closed

[2016-12-08 12:30] bezmian commented on #54
I have a question, do you use 0.0.5 version of the library?

[2016-12-14 11:45] am2222 opened #57 "start activity after finishing intro"
Hi,
Is there any callback to find if intro is finished start another activity?

[2016-12-14 11:46] bezmian commented on #57
Look at the method onFinish();
https://github.com/TangoAgency/material-intro-screen/blob/master/app/src/main/java/agency/tango/materialintro/IntroActivity.java

[2016-12-14 14:36] am2222 commented on #57
thanks very much

[2016-12-14 14:37] #57 closed

[2016-12-14 23:19] laylaykom opened #58 "Title String Error"
Hey, I'm Furkan. I get an error when I put a string in " .title " There is error;

[2016-12-15 08:25] radzio commented on #58
@laylaykom  you need to pass String resource, not String instance. We are aware of this and we will provide more error-prone API in one of the next versions.

[2016-12-15 11:05] laylaykom commented on #58
Okay, I'm waiting 😊

[2016-12-16 06:20] hetbo opened #59 "support 23.3.0"
Hi
I added this library to my project
and I tried to build gradle
but it needed support libraries 25.0.1
while I use 23.3.0
I wanna keep using this
so is there any way that I can use this library and keep using support library version 23.3.0
????

[2016-12-16 07:27] radzio commented on #59
Why you don't upgrade to 25.0.1? We will not downgrade material intro screen dependencies.

[2016-12-16 13:04] hetbo commented on #59
Well I know that
But I have my reasons for myself
I'm looking for a way to do it
Is there any way?
for example if I can change it by myself for my project and use it.
also I have the same problem with some other libraries .
So if you have something that could help I'll be so happy if help me.

[2016-12-16 13:11] radzio commented on #59
You can try to clone this repo and just modify library:
 * downgrade *compileSdkVersion*
 * downgrade *buildTools*
 * downgrade *support libraries*
 * downgrade *targetSDK*

Or you can try to exclude dependency like [here](http://stackoverflow.com/a/39332108/408613) (just exclude support libraries).

IMO it will much easier for you to upgrade your project. More and more libs will start to have the

[2016-12-16 13:11] #59 closed

[2016-12-19 03:37] CeJienAJPC commented on #54
@bezmian sorry for the late reply. My City was blacked out for the past 10 days (no power, no internet) due to recent Hurricane. Hence no way to reply you. To answer your question, yes I am using the 0.0.5 version of the library.

[2016-12-21 12:38] brownpixel commented on #39
There is a work around to go to a next slide by code through simulating a key press:

    dispatchKeyEvent(new KeyEvent(KeyEvent.ACTION_DOWN,KeyEvent.KEYCODE_DPAD_RIGHT));

[2016-12-27 04:34] coreywoodfield opened #61 "Error message doesn't display on failed swipe"
I think this library is great, but there is one thing that bugs me.

I made a custom fragment with some checkboxes, and I have overridden canMoveFurther and cantMoveFurtherErrorMessage. When the condition for canMoveFurther is not met, both pushing the button and trying to swipe to the next fragment fail (as is expected). However, the error message is only displayed if they push the button. If I t

[2017-01-04 17:01] proudh0n opened #62 "Translatable permissions buttons"
Could this option be added? It's strange to have the whole application in one language and the buttons always in english.

Maybe the translation string could be passed as a second option to the neededPermissions and possiblePermissions methods.

Many thanks!

[2017-01-04 17:25] bezmian commented on #62
Good idea, we'll add that to todo list. ;)

[2017-01-05 09:39] proudh0n commented on #62
@bezmian Thanks! :)

[2017-01-05 17:07] volvciklum commented on #62
We also need this feature. Please try to include it into the next release. Thanks.

[2017-01-09 17:30] kikindb commented on #10
it is posible to implement this by myself? i just want to put an image instead of a color for the background

[2017-01-10 08:59] bezmian commented on #10
Just fork this library or download it in other way and modify the code.

[2017-01-10 16:03] volvciklum opened #63 ""animationDuration" styleable conflict"
"animationDuration" styleable may conflict with another one from different library. And it does in my case. Propose to rename all styleables to include some unique prefix for ex. "mis".

[2017-01-11 19:41] aviadmini commented on #39
You can also call onKeyDown of MaterialIntroActivity directly

[2017-01-18 20:29] achuinard opened #64 "Rotation of final slide causes transparent background"
If you rotate the activity when on the final fragment, the background becomes totally transparent and is only fixed when scrolling back a slide.

[2017-01-19 11:29] judemanutd opened #65 "Unable To Add new slide"
`public class RegisterActivity extends MaterialIntroActivity {

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);

        addSlide(new RegisterFragment());

        addSlide(new SlideFragmentBuilder()
                .backgroundColor(R.color.colorAccent)
                .buttonsColor(R.color.colorPrimary)
                .title("Wan

[2017-01-19 15:31] judemanutd commented on #65
Found the error,for those who get it
you need to necessarily override and specify your own values while creating a custom fragment.

`
    @Override
    public int buttonsColor() {
        return R.color.custom_slide_buttons;
    }`

[2017-01-19 15:31] #65 closed

[2017-01-24 10:50] xp-vit commented on #62
Also faced this one. Would love it to be added.

[2017-01-25 12:25] Heromine opened #66 "No resource found id #0x0"
`01-25 13:19:17.714 E/AndroidRuntime(13823): android.content.res.Resources$NotFoundException: Resource ID #0x0
01-25 13:19:17.420 E/UncaughtException(13823): 	at agency.tango.materialintroscreen.MaterialIntroActivity.color(MaterialIntroActivity.java:427)`
What is up? It crashes. Why?

[2017-01-26 20:56] Olamyy opened #69 "Is there a way to launch an intent from the message button?"
I'm working with the library and i'm wondering if there's a way i could launch another activity from the new `MessageButtonBehavior`

Say something like :

[code]

I know i can use the `onFinish` method to trigger an action when the intro ends but am wondering if there's a way i can do it from `addSlide`

[2017-01-29 20:04] Scrounger commented on #32
Issue has fixed, thanks!

[2017-01-29 20:04] #32 closed

[2017-01-31 10:05] bezmian commented on #69
Yes there is a way, very similar to your code ;)
[code]

[2017-01-31 10:05] #69 closed

[2017-01-31 11:17] bezmian commented on #66
Please provide more details. If its possible please add snippet of your class which extends MaterialIntroActivity

[2017-01-31 12:12] bezmian commented on #58
https://github.com/TangoAgency/material-intro-screen/pull/71 @radzio

[2017-01-31 12:16] bezmian commented on #64
https://github.com/TangoAgency/material-intro-screen/pull/72/files @radzio

[2017-01-31 12:38] bezmian commented on #63
https://github.com/TangoAgency/material-intro-screen/pull/73 @radzio

[2017-01-31 15:07] JonathanImperato commented on #66
This is my intro activity:

`
public class IntroActivity extends MaterialIntroActivity {
    @Override
    protected void onCreate(@Nullable Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        enableLastSlideAlphaExitTransition(true);

        getBackButtonTranslationWrapper()
                .setEnterTranslation(new IViewTranslation() {
                    @Override

[2017-01-31 15:08] bezmian commented on #66
Ok got it. You need to pass buttonColor and backgroundColor via SlideFragmentBuilder(). We are aware of that issue and we will fix that in future.

[2017-02-01 12:39] bezmian opened #74 "Add special class for creating custom SlideFragments"
Add special class for extending SlideFragment, to tell developer what he needs to implement. For example
[code]
Currently extending SlideFragments leads developers to many mistakes so, we need that special class to tell them what they need to implement in order to avoid clutching.

[2017-02-02 12:40] radzio commented on #62
@proudh0n  @volvciklum  @xp-vit

**For now** you can simply override `grant_permissions` ( `mis_grant_permissions` in the upcoming 0.0.6 version). But we can't guarantee that we will not change this string resource name in future it is not recommended solution.

However, in next 0.0.6 we will provide:
 - possibility to set default permission button text ( `@StringRes` ) on MaterialIntroActivity
 -

[2017-02-03 10:07] #64 closed

[2017-02-03 10:42] radzio commented on #63
Fixed in https://github.com/TangoAgency/material-intro-screen/pull/73

[2017-02-03 10:42] #63 closed

[2017-02-03 10:43] radzio commented on #58
Fixed in https://github.com/TangoAgency/material-intro-screen/pull/71

[2017-02-03 10:43] #58 closed

[2017-02-08 14:21] bezmian commented on #74
@radzio https://github.com/TangoAgency/material-intro-screen/pull/75

[2017-02-08 15:05] aexvir commented on #62
@radzio Of course, I'll translate the strings as soon as possible. Many thanks for implementing the feature

[2017-02-09 21:02] drksbr opened #76 "Transparent slide and image background"
Hello, is it possible to create some transparent fragments and keep a grandient background or still image without running along with the slide?

And can I leave any fixed component? Out of the fragment that will be released as in the case of the intro introduced in the GoPro Capture APP?

![unknown](https://cloud.githubusercontent.com/assets/25672235/22803023/4ed55ab4-eefa-11e6-8ae4-80cd67760566.j

[2017-02-10 15:21] bezmian commented on #61
@radzio https://github.com/TangoAgency/material-intro-screen/pull/77

[2017-02-10 15:43] bezmian commented on #49
@radzio https://github.com/TangoAgency/material-intro-screen/pull/78, but please first merge https://github.com/TangoAgency/material-intro-screen/pull/75

[2017-02-10 22:37] Mattiam2 opened #79 "Can't set pressed color on next, back and skip button"
How can I set pressed color on next, back and skip button?
I tryed to search on the library but I didn't find anything.
Can someone help me?

[2017-02-11 10:59] bezmian commented on #79
Right now you need to override [button_background.xml](https://github.com/TangoAgency/material-intro-screen/blob/master/material-intro-screen/src/main/res/drawable/button_background.xml) from library (remember about v21 ;)). We are aware of that and we will add more customizable buttons in future.

[2017-02-13 08:58] bezmian commented on #55
@radzio https://github.com/TangoAgency/material-intro-screen/pull/80

[2017-02-13 09:18] bezmian commented on #52
@radzio https://github.com/TangoAgency/material-intro-screen/pull/81

[2017-02-13 09:48] jombie opened #82 "Enhancement for custom colors in SlideFragment"
Able to change text color and typeface for title and description.
Able to change selected dot color for InkPagerIndicator

[2017-02-13 18:15] Mauker1 opened #84 "Disable move to previous slide"
Sometimes it might be useful to disable the "back" function on the intro screen, so once the user have already finished with one slide he won't be able to come back.

As a suggestion, this could be done like on the original lib:

[code]

[2017-02-13 18:36] Mauker1 commented on #39
I believe this is a good feature to implement on a future release.

[2017-02-13 18:37] bezmian commented on #84
It sounds like a good idea. Maybe in future I will implement it.

[2017-02-14 11:43] Mauker1 opened #85 "Add value for bottom padding on custom slide"
When we're creating a custom slide, we need to know the padding that we should add at the bottom, and I couldn't find this value anywhere in the docs, so I had to dig into the code until I found this: `android:paddingBottom="164dp"`.

My suggestion is to create a value on the `dimens` folder for that particular padding, like `customSlideBottomPadding`, since it's a must have on custom slides.

You

[2017-02-14 11:47] Mauker1 commented on #61
+1

[2017-02-16 23:35] Mauker1 commented on #54
Also got this problem. For now the workaround is to add a stub Fragment?

[2017-02-17 00:53] itamaradin15 commented on #54
You tried changing the background color?

[2017-02-20 09:29] #74 closed, assigned to bezmian

[2017-02-20 10:22] #55 closed

[2017-02-20 10:22] radzio commented on #55
Fixed in #80

[2017-02-20 10:29] radzio commented on #61
Fixed in #77

[2017-02-20 10:29] #61 closed

[2017-02-20 11:03] radzio commented on #49
@gokhanaliccii  Maybe we should hide permission buttons on SDK < M? What do you think?

[2017-02-21 09:28] am2222 commented on #39
@brownpixel Hi, What about going to next slide by code in current SlideFragment.It seems it does not have any solutions

[2017-02-27 03:00] broakenmedia commented on #64
Any clues on when 0.0.6 will make it to release? Last slide rotation for me causes the forward and backward buttons to go white and the indicators to go red. Fixed by going back a slide. Not viable for a public app currently!

[2017-03-01 08:06] nathan-osman commented on #54
I'm seeing this too, even with a background color explicitly set using `SlideFragmentBuilder().backgroundColor()`.

It is also worth noting that this only happens when I have a single slide. For two or more slides, it works fine.

[2017-03-01 09:25] nathan-osman commented on #7
`registerNeededPermissions()` is not a member of `SlideFragment`. Should I open a new issue for this?

The commit in question that fixed this (f5e87eb7640d2c0720dfff486c865e4663af0dd0) is missing from the repository.

[2017-03-04 20:46] mehmetgunacti commented on #66
I got this error after 800 installations on the market :

[code]

at this method in MaterialIntroActivity(426):
[code]

Note: I don't use SlideFragmentBuilder().

[2017-03-06 19:48] achuinard commented on #64
Waiting on 0.0.6 myself

[2017-03-07 22:51] petnagy opened #88 "Clickable web links"
It would be useful if we can use clickable web links in the text resource.
Like: <string name="text_with_web_link">This is a text with weblink<a href="http://google.com">Google</a></string>

Please add the next things to the txt_title_slide's TextView:         android:linksClickable="true" and   android:autoLink="web" and than we can use web links with SlideFragment.
Thanks!

[2017-03-12 07:14] ghost opened #91 "setButtonText in MessageButtonBehaviour"
I would like to use the button on the slider to allow users to toggle a setting on and off before starting the app the first time. At first I assumed I could make a custom slide, but decided it would be easier if there were a simple setButtonText in this class that could be called when the user presses the button to reflect the value change in the background.

Similarly, updating the snackbar text

[2017-03-12 10:52] sooperapps opened #92 ""Unskippable" pages can be skipped while dragging"
If try hard, users can skip "unskippable" pages while dragging - like the one with license acceptance from your sample. I went on dragging with 2 fingers one by one. Video link: https://drive.google.com/open?id=0B1Yjf8_SSWQmMVVxRTNWR0ZpUUE

[2017-03-16 00:52] achuinard commented on #64
@radzio @bezmian when do you plan to release 0.0.6?

[2017-03-17 17:17] kbathwal opened #94 "GRadle sync not working while adding to module level gradle."
I am adding     the below line to Module level Build.gradle
**compile 'agency.tango.android:material-intro-screen{latest_release}'**

Upon sync of gradle its showing an error-

**Error:Failed to resolve: agency.tango.android:material-intro-screen{latest_release}:**

[2017-03-20 08:43] radzio commented on #94
You have to replace **{latest_release}** with latest library version, currently it is **0.0.5**

![screenshot](https://cloud.githubusercontent.com/assets/469111/24092909/9288a840-0d51-11e7-81f4-75c872dc7b3a.png)

[2017-03-20 08:43] #94 closed, assigned to nobody

[2017-03-20 15:18] GaryCuevas opened #95 "Colors go crazy on last slide when device is rotated"
Rotating the Android device when the last slide of a series is displayed results in the colors going crazy. Easily reproduced with the supplied sample app.

(This may be related to bug #45 (Single slide intro calculates wrong background color).

[2017-03-20 15:20] GaryCuevas opened #96 "Needed - better control over the messageButton background and text color"
The code for the messageButton seems to be hard-coded to make the button white, and to use the slide color as the the text color.

This ends up being unworkable if the selected slide background color is white. Then you get white text on a white button on a white slide!

[2017-03-20 15:31] GaryCuevas commented on #95
I set some breakpoints in the code to see what happens when onCreate() is called on screen rotation when that last slide is showing. I saw some code for setting up the slide colors that was explicitly not called in this situation. I tried to work around the problem with various fixes but I ran into trouble.

[2017-03-20 15:42] bezmian commented on #95
You mean something like this: https://github.com/TangoAgency/material-intro-screen/issues/64 ?

[2017-03-20 15:43] GaryCuevas commented on #95
Yes, exactly that. Sorry I didn't see it was already filed.

[2017-03-20 15:51] GaryCuevas commented on #95
Thanks for pointing this out. I'll have a chance to incorporate the fix when I get back to the office on Wednesday. Really appreciate it!

[2017-03-22 16:00] GaryCuevas commented on #95
Integrated and it works like a dream! Thanks so much.

Good luck with case #96 :)

[2017-03-24 15:43] #95 closed, assigned to nobody

[2017-03-29 10:11] bezmian commented on #45
https://github.com/TangoAgency/material-intro-screen/issues/64

[2017-03-29 10:11] #45 closed

[2017-03-30 10:12] bezmian commented on #54
Fixed in https://github.com/TangoAgency/material-intro-screen/pull/72/files

[2017-03-30 10:12] #54 closed

[2017-04-05 06:13] srujanb opened #99 "Gradle sync throwing error"
I tried syncing with the 0.0.5 version and the gradle itself is giving the error:

    C:\Users\Srujan\AndroidStudioProjects\MsImpLinksV2.1\app\build\intermediates\res\merged\debug\values-v11\values-v11.xml
    Error:(73, 54) No resource found that matches the given name (at 'android:actionModeCloseDrawable' with value '@drawable/abc_ic_ab_back_mtrl_am_alpha').
    Error:(73, 54) No resource found

[2017-04-05 06:36] radzio commented on #99
I'm not convinced that it is our fault. Are you using gradle dependency like this:
`compile 'agency.tango.android:material-intro-screen:0.0.5'`

[2017-04-05 06:38] srujanb commented on #99
@radzio  Yes I am!

[2017-04-05 06:42] radzio commented on #99
We are not using `abc_ic_ab_back_mtrl_am_alpha` anywhere in our code. It is possible that you are using another version of the support library ( Material Intro Screen uses `25.0.1`, we will upgrade it in the upcoming 0.0.6 version).

[2017-04-05 06:47] srujanb commented on #99
I am using 23.4.0 support library. Could that be the reason? I am really not looking to change it to 25.0.1 which is throwing another exception in my almost-finished application. Or May be.. let me give it a try with 25.0.1

[2017-04-05 06:49] radzio commented on #99
As I thought - it is our issue. Closing this issue and good luck :-)

[2017-04-05 06:49] #99 closed, assigned to nobody

[2017-04-05 14:52] isaintmartin opened #100 "Butterknife compatibility"
Hi! It is possible to use the library and use ButterKnife?
I am trying but I'm having problems.

Tks!

[2017-04-05 18:17] radzio commented on #100
Can you provide more details?

[2017-04-06 00:01] ElyDantas opened #101 "App not starting anymore"
Activity
`public class WelcomeActivity extends MaterialIntroActivity {...}`

Manifest
[code]

DefaultConfig
[code]

Dependecies
[code]

Logcat:
[code]

[2017-04-12 10:24] volvciklum commented on #62
Could this issue be merged/closed during next 1-2 weeks? Any chance?

[2017-04-12 10:53] radzio commented on #101
I don't think that this is our fault. It might be connected to the Instant Run or your project configuration.

[2017-04-12 10:53] #101 closed, assigned to radzio

[2017-04-17 00:30] ghost opened #106 "Unable to Start Activity"
Hello,

On Ice Cream Sandwich device I have an error that I can not resolve.

Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.myapp.and.IntroActivity}: java.lang.IllegalStateException: You need to use a Theme.AppCompat theme (or descendant) with this activity

Is there a solution?

[2017-04-18 15:38] judemanutd commented on #92
managed to recreate the same thing easily.Needs to be fixed please.

[2017-04-20 06:32] alexmantaut opened #107 "Animated gifs on SlideFragment"
Is there a way to show animated GIFs using the basic Slide Fragment? (without having to create a custom slide)
Otherwise, I was thinking on maybe adding that functionality on Slide Fragment myself... what would be the best to do it?
I was thinking of modifying SlideFragment to add a different type of image called gifImage or (something like that) and creating an specific view for gifs as described

[2017-04-20 06:41] radzio commented on #107
@alexmantaut  there is no ready-to-use API for this. However, you can create [CustomSlide ](https://github.com/TangoAgency/material-intro-screen/blob/master/app/src/main/java/agency/tango/materialintro/CustomSlide.java) and play gif there.

[2017-04-21 04:22] alexmantaut commented on #107
That is ok, I'll use a CustomSlide then.

[2017-04-21 04:22] #107 closed, assigned to nobody

[2017-04-24 12:54] shashipyadav commented on #32
this Issue has  not fixed
same issue found

[2017-04-24 12:55] radzio commented on #32
@shashipyadav  pls provide steps to reproduce.

Thanks!

[2017-04-24 13:03] shashipyadav commented on #32
Steps are:
1. Create a custom slide which is same as the image given in above example (GIF)
2. Add this as the end slide.
3. Once deployed on Mobile, try to swipe fast.

Behaviour: Sometimes validation doesnt work and it is allowing to finish the Into.[Bug]

[2017-04-25 13:59] shashipyadav commented on #32
Steps are:

Create a custom slide which is same as the image given in above example (GIF)
Add this as the end slide.
Once deployed on Mobile, try to swipe fast.
Behaviour: Sometimes validation doesnt work and it is allowing to finish the Into.[Bug]

[2017-04-26 10:22] shashipyadav commented on #32
plz solve my problem

[2017-04-27 06:52] resignedScientist opened #108 "Crash when using more than 3 pages"
It crashes when you use more than 3 pages, scroll to the last page, back to the first page and then to the next page. It is reproducable!

`04-27 08:47:27.202 2199-2199/com.laudien.p1xelfehler.batterywarner_pro E/AndroidRuntime: FATAL EXCEPTION: main
                                                                                         Process: com.laudien.p1xelfehler.batterywarner_pro, PID: 219

[2017-04-27 06:57] radzio commented on #108
Hi! I don't think that this is library fault. Check your stack trace:

`Caused by: java.lang.IllegalArgumentException: Binary XML file line #25: Duplicate id 0x7f0f00d7, tag null, or parent id 0xffffffff with another fragment for com.laudien.p1xelfehler.batterywarner.Activities.SettingsActivity.SettingsFragment at android.app.Activity.onCreateView(Activity.java:4791)`

[2017-04-27 09:40] radzio commented on #108
@P1xelfehler  can you check my previous comment and try to reproduce this error using *material-intro-screen* [demo app](https://github.com/TangoAgency/material-intro-screen/tree/master/app)?

[2017-04-27 09:48] resignedScientist commented on #108
Okay, the demo app does not crash when i do that.

So it must be my own fault, i am sorry.

[2017-04-27 10:03] #108 closed, assigned to nobody

[2017-04-27 10:30] radzio commented on #108
@P1xelfehler no problem :), good luck!

[2017-04-29 08:34] JonathanImperato commented on #10
When do you think you will add it?

[2017-05-03 14:11] ghost commented on #106
I figured out the issue. I will answer my own question.

To stop this error, remove the theme in the manifest for the IntroActivity.
In IntroActivity add this line in the onCreate
getSupportActionBar().hide();

This has been test to API 15 and works flawlessly.

[2017-05-03 14:11] #106 closed, assigned to nobody

[2017-05-11 22:14] sergiobr opened #109 "How to set image full screen width and height"
Hi,

I'm showing a serie of images that should be fiting the whole screen. It fills the height but not the width, staying with spaces on both sides.

Here is my XML:
`<?xml version="1.0" encoding="utf-8"?>
<agency.tango.materialintroscreen.parallax.ParallaxLinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:lay

[2017-05-12 10:43] resignedScientist commented on #108
I analysed that a bit and found out, why this happened:

It happens, when you use a fragment inside the slide layout and give it an id or tag.
If you give an id to the root layout instead, it does not crash anymore!

But i don't know exactly, why this happens.

[2017-05-13 05:40] AbhinavTrips opened #110 "How to find the latest version"

[2017-05-15 06:53] radzio commented on #110
![image](https://cloud.githubusercontent.com/assets/469111/26045733/e556a632-394b-11e7-9f4f-c06b27267eb2.png)

[2017-05-15 06:53] #110 closed, assigned to nobody

[2017-05-22 13:16] imkh commented on #32
Have the same issue but on the first slide, although I don't think the position is the cause of this problem. But for some reason, the issue stop after a few swipes (see GIF below).

![](https://thumbs.gfycat.com/JealousSatisfiedCockroach-size_restricted.gif)

Another thing I noticed: if you try to go the previous slide, the block is "lifted" and you can manage to pass the slide:

![](https://thum

[2017-05-24 12:50] bhavinsetubridge opened #111 "Unable to add dependancy"
unable to add dependancy using gradlew.
Error:(49, 13) Failed to resolve: agency.tango.android:material-intro-screen:{latest_release}

[2017-05-24 12:51] bezmian commented on #111
Duplicated: https://github.com/TangoAgency/material-intro-screen/issues/94

[2017-05-24 12:51] #111 closed, assigned to nobody

[2017-06-14 13:45] Agrahyah opened #112 "how to use this library without extending MaterialIntroActivity to my Activity ??"

[2017-06-18 21:25] therealccarter opened #113 "Version 0.0.5 not Gradle syncing"
Is this a known issue?

[2017-06-19 06:47] radzio commented on #113
Do you have` jcenter()` maven repo in your `build.gradle` file? It is not a know issue - it is impossible no to work.

[2017-06-19 20:21] therealccarter commented on #113
I've got this:

    repositories {
        jcenter()
        maven {
            url "https://jitpack.io"
        }
    }

Is that not quite right?

I'm basing that off of this page: https://android-arsenal.com/details/1/4368#!package

and added "jecenter()" to it.

[2017-06-19 20:29] therealccarter commented on #113
OK, got it to compile. The problem was that I was copying the compile line from that package tab on Android Authority, it has this:

    compile 'com.github.TangoAgency:material-intro-screen:0.0.5'

Which is not what I should have been adding.

[2017-06-19 20:29] #113 closed, assigned to nobody

[2017-06-20 06:55] radzio commented on #113
@therealccarter  you should use this:

`compile 'agency.tango.android:material-intro-screen:0.0.5'`

We are not using jitpack in this project.

Check this out:
https://bintray.com/tangoagency/maven/material-intro-screen/0.0.5

[2017-06-20 13:26] AbdulmalekShefat commented on #92
this line makes it skippable,
`enableLastSlideAlphaExitTransition(true);`

just remove it and try.

[2017-06-23 21:30] Skin1980 opened #114 "Background Trasparent"
I have always the background trasparent. It doesn't matter if I set background color, it is always traslucent/trasparent. Where i'm wrong?

[2017-06-26 19:13] sergiobr commented on #109
Please, anybody?

[2017-07-01 23:40] emersonwdesigner opened #115 "EditText em SlideFragment fica em baixo do teclado"
Parabéns pelo Projeto.
No SlideFragment Custom, não entendo porque o EditText fica em baixo do teclado. Como resolver isso?

[2017-07-02 08:13] radzio commented on #115
@emersonwdesigner  English please :-)?

[2017-07-03 16:54] masooddalman commented on #49
simply just Override it like this

in your String.xml file write this lines:

[code]

[2017-07-08 19:29] furkankurt opened #116 "First Time Start Issue"
I can't found how to do this. I wanna just first time with shared preferences. Can you help me?

[2017-07-08 20:57] #116 closed, assigned to nobody

[2017-07-17 12:48] caglarturkurka commented on #114
If you add more than one fragment, it will be solved.

[2017-07-18 11:16] YasiruWickramaratne opened #119 "Failed to add dependencies"
Error:(28, 13) Failed to resolve: agency.tango.android:material-intro-screen:{latest_release}

I added the build.grade(Module: app) dependencies yet get the error.

[2017-07-18 11:18] bezmian commented on #119
https://github.com/TangoAgency/material-intro-screen/issues/94
https://github.com/TangoAgency/material-intro-screen/issues/37

[2017-07-18 11:18] #119 closed, assigned to nobody

[2017-08-22 23:02] #91 closed, assigned to bezmian

[2017-08-22 23:02] ghost commented on #91
Very nice!

[2017-08-25 09:50] marcel3007 opened #121 "Multi language"
Please can you add multi language support? I want to add a german translation for the "Grant permissions" button and the "Please grant needed permissions" text. Maybe you can add a method for passing own strings. Thanks!

[2017-08-25 11:11] YuganshT7 opened #122 "How to Grant Permissions?"
i have written
`.possiblePermissions(new String[]{Manifest.permission.CALL_PHONE, Manifest.permission.READ_SMS})
                        .neededPermissions(new String[]{Manifest.permission.CAMERA, Manifest.permission.ACCESS_NETWORK_STATE, Manifest.permission.READ_EXTERNAL_STORAGE})`

Now when i click Grant Permission the snackbar says _please grant needed permission_
How should i do that ?

[2017-08-25 13:49] YuganshT7 commented on #122
It only manages to get the _First permission_ that is passed in String[]

[2017-08-27 00:30] TrentPierce commented on #109
Did you ever have any luck with this? I cant get it to work either. I just need the image to fill_parent. Unfortunately, it looks like the only solution is to change libraries.

[2017-08-28 08:48] bezmian commented on #109
Hi, can you provide more info about that? Maybe some screenshots how it looks. Also keep in mind that fill_parent is deprecated and renamed to MATCH_PARENT in API Level 8 (https://developer.android.com/reference/android/view/ViewGroup.LayoutParams.html).
My first idea is to use `android:scaleType` in your xml. Here are examples:
![image](https://user-images.githubusercontent.com/17637583/29766224-

[2017-08-28 12:07] TrentPierce commented on #109
Yea, sorry, I was in a bit of a hurry when I commented. I went ahead and forked this library and made the changes I needed. Here's how it looks now. In my fork there is information on how to use the library through jitpack.

![resized](https://user-images.githubusercontent.com/1277122/29772506-be5c88ce-8bbe-11e7-956e-05b37fc9e435.jpg)

It's working perfectly for me now. As far as changes go, I jus

[2017-08-28 12:16] bezmian commented on #109
Good to hear, you've done this. Remember that you can always use a custom slide to fit your requirements. Closing this issue.

[2017-08-28 12:16] #109 closed, assigned to bezmian

[2017-08-29 13:33] bpmsilva commented on #114
Thanks for the answer @caglarturkurka ! I had the same problem.. However, I still think this is an important issue since everyone will try to write a simple activity first and this bug is causing confusion

[2017-09-21 13:24] Mauker1 commented on #115
He said that on the "Custom Slide Fragment" the `EditText` is showing up below the keyboard, and wants to know if there's a way to avoid it.

[2017-10-09 18:28] vakosta opened #124 "Vector drawable"
How can I use vector xml drawable in Android pre-Lollipop? I just trying to use code like this:
[code]
Vector image looks so bad. What's the solution?

[2017-10-10 10:39] emanf opened #125 "Lag While Swiping"
when i use too many slides(like 12 slides or more) i experience lag. any idea how to fix it?

[2017-10-12 21:35] YuganshT79 opened #126 "Change "Title" and "Description" Size and Color?"
Is there any way to override the size and color of the `Title` and `Description` in the `SlideFragment` ??

[2017-10-16 08:51] KevCel commented on #125
I had the same problem. You should decrease size of images. For each images I have two copy: larger for tablets and smaller for smartphones.

[2017-10-16 17:03] emanf commented on #125
I'm using small images like icons for my intro activity, can it be still the problem?

[2017-10-23 18:04] Kvaibhav01 opened #127 "Implement library only on first launch"
Hey there! The library works great. I'm thinking what will I need to make the **intro run only the first time a user opens the app**. Any code for that?

[2017-10-24 07:08] bezmian commented on #127
Issue not related to the library, but look at this, maybe this will help you.
https://stackoverflow.com/questions/15061653/run-a-piece-of-code-only-once-when-an-application-is-installed

[2017-10-24 07:08] #127 closed, assigned to nobody

[2017-10-24 15:03] Kvaibhav01 commented on #127
I implemented the code given there but there seems to be no effect on my app. 😞 Can you provide me some steps to do that? I'm really new to Android programming.

[2017-10-28 17:46] Kvaibhav01 opened #128 "Hide statusbar"
**How can I hide the statusbar while the intro is running?** Is there a special method to implement that?

[2017-10-31 13:03] abroresonaliev opened #129 "handle next/finish button click"
how I can handle next/finish button click. When next/finish button clicked on last slide I want call message button on click

[2017-10-31 13:06] bezmian commented on #129
Override method onFinish in your IntroActivity class like here
https://github.com/TangoAgency/material-intro-screen/blob/develop/app/src/main/java/agency/tango/materialintro/IntroActivity.java
![image](https://user-images.githubusercontent.com/17637583/32225218-a725df94-be44-11e7-94fe-f6b668011799.png)

[2017-11-02 16:16] #129 closed, assigned to nobody

[2017-11-05 18:28] Kvaibhav01 opened #130 "How to add custom images for intro? From where should I get?"
Hi there, I want to add material images (like that in Google apps) in my intro slides.

1. **How should I add my own images** instead of the default `ic_next`? Because even if I add images from Image Asset to drawable folder and call it in `.image()` method it says _cannot resolve symbol ..._

2. **Is there any online editing tool or library of images** where I can get my custom material images?

[2017-11-13 17:20] vicentebalderas opened #131 "How can I customize current page indicator color?"
I'm developing an app that has a white background color and the InkPageIndicator for the current page is white. How can I change that?

![screen shot 2017-11-13 at 11 18 53 am](https://user-images.githubusercontent.com/3884437/32739075-798f8bbe-c864-11e7-9c23-6f216518d4ec.png)

[2017-11-14 09:46] Durgaprasad1541996 opened #132 "Unable to resolve: agency.tango"
When i add the dependency to gradle it is showing an error "Unable to resolve: agency.tango (22, 13)"

[2017-11-14 09:47] bezmian commented on #132
https://github.com/TangoAgency/material-intro-screen/issues/119

[2017-11-14 09:47] #132 closed, assigned to nobody

[2017-11-21 13:19] makcakaya opened #133 "Transparent background when only one slide is used"
I am using v0.0.5 of the library. After showing a splash screen, I jump to the intro and show a few slides. If I show a single slide, the background color is transparent. Is this a bug or a feature?

How to revert and make it show the background that I set in the code?

See the attached video [here](https://drive.google.com/open?id=1wyZkfcxJVl0_-fMU8UF1GMQRoN84DjpX).

Activity:

[code]

Manifest:

[2017-11-21 13:22] bezmian commented on #133
Hi! Thank you for video. It is a bug, but it is fixed in 0.0.6 version which we will release as soon as possible.

[2017-11-21 13:23] makcakaya commented on #133
Thanks for the lightning speed answer. Waiting for the new release.

[2017-11-30 03:09] valterh4ck3r commented on #66
Same error.

[2017-11-30 03:17] valterh4ck3r commented on #66
Override the methods : backgroundColor() , buttonsColor() and canMoveFurther().. It's necessary...

[2017-11-30 14:50] valterh4ck3r opened #134 "Next Slide Programmaticaly"
I need to move to the next slide programmatically, it's possible ?

[2017-12-03 17:15] sjd753 opened #135 "How to know when the last slide was done? Listeners needed"

[2017-12-04 04:49] 10K-with-AI-Enterprise-Edition commented on #135
same issue here.

[2017-12-08 08:31] xomnot opened #136 "Can't show alert dialog"
Hi!

I am trying to show an AlertDialog on button click,

[code]

 but it throws this excepction:

`java.lang.IllegalStateException: You need to use a Theme.AppCompat theme (or descendant) with this activity.`

Any thoughts or alternatives? Maybe this could be a good implementation for future updates.

[2017-12-08 09:43] xomnot commented on #136
Ok, solved...
The problem was on the builder context.
Instead of `new AlertDialog.Builder(getApplicationContext())` I used `new AlertDialog.Builder(intro.this)` and worked.

[2017-12-08 10:05] #136 closed, assigned to nobody

[2017-12-08 18:40] alirezanazari opened #137 "how to change font of textviews"
how can i do this ?

[2017-12-19 18:34] PauloCeami opened #138 "Add Varios SlideFragments"
quando tento adicionair mais de um slide customizado extendendo a classe SlideFragment o android da um erro esquisito.. sabe o que pode ser ?

Lembrando que se eu deixar apenas o fragment de boas vindas ele deixa e nao da erro algum

addSlide(new FragmentSlideBoasVindas());

addSlide(new FragmentCurso());

No stacktrace ele nao defini onde exatamente esta causando o problema

https://gist.github.c

[2017-12-23 08:02] harith97 opened #139 "Skip Button in First Page"
How to show skip button in the first page and back button in other pages..?

[2017-12-29 01:15] anubhavmalik commented on #134
+1

[2017-12-29 17:11] haidar786 commented on #114
just remove setContentView(R.layout.main_activity) func in onCreate() func in activity

[2018-01-01 01:45] 24KMagic opened #140 "How to add session method in the intro activity"

[2018-01-04 18:23] ivanstojkovicapps commented on #10
You can do it with this in onCreate in your IntroActivity:

[code]

[2018-01-19 01:18] 10K-with-AI-Enterprise-Edition opened #141 "Android 8.0 crashes"
This library crashes for all Android 8.0 users!!!!
Here is the full error from Fabric:
agency.tango.materialintroscreen.MaterialIntroActivity.onCreate (MaterialIntroActivity.java:73)

[com.goalmeterapp.www_issue_619_crash_5A614267006D000170A7CA883C12C3A8_c20cbecdfcb311e7b0b656847afe9799_0_v2.txt](https://github.com/TangoAgency/material-intro-screen/files/1644995/com.goalmeterapp.www_issue_619_cras

[2018-01-19 03:49] 10K-with-AI-Enterprise-Edition commented on #141
This issue was not caused by this library. For future reference:
This issue was solved by removing android:screenOrientation="portrait" from manifest file for the activity which contains this library.

[2018-01-19 03:49] #141 closed, assigned to nobody

[2018-01-23 20:45] bagintz commented on #131
+1

[2018-01-25 09:02] gitanuj opened #142 "NPE when MaterialIntroActivity restoring state"
Steps:
1. Enable "Don't keep activities" option in Developer Options
2. Add a SlideFragment with hasNeededPermissionsToGrant() & hasAnyPermissionsToGrant() set to false
3. Open the MaterialActivity with this fragment selected
4. Send Activity to background
5. Use recents menu to open the activity back

Looks like getActivity() is null at the moment. A simple fix could be to just ignore the call if

[2018-01-25 09:06] gitanuj commented on #142
For example it happens on the following fragment when user taps button to enable "Notification Access" which opens the Settings app. Then for some reason my app's Activity is removed from memory and user comes back to the Activity without enabling the permission.

https://github.com/gitanuj/nowplayinghistory/blob/master/app/src/main/java/com/tanuj/nowplayinghistory/fragments/NotificationAccessSlid

[2018-01-29 09:30] Tizhoodh82 opened #144 "Bug in addSlide"
I use this code for my IntroActivity and my application is force close.
IntroActivity.java :
`package com.barnamehnevis.viewpager_tutorial;

import android.content.Context;
import android.os.Bundle;
import android.support.annotation.FloatRange;
import android.support.annotation.Nullable;
import android.view.View;
import agency.tango.materialintroscreen.MaterialIntroActivity;
import agency.tango.ma

[2018-01-29 09:32] Tizhoodh82 commented on #144
this is my force close
`
E/AndroidRuntime: FATAL EXCEPTION: main
                  Process: com.barnamehnevis.viewpager_tutorial, PID: 16408
                  android.content.res.Resources$NotFoundException: Resource ID #0x0
                      at android.content.res.Resources.getValue(Resources.java:1542)
                      at android.content.res.Resources.getColor(Resources.java:1184)

[2018-01-30 04:39] thuan09878 opened #146 "NullPointerExceptionAttempt on checkPermission"
Fatal Exception: java.lang.NullPointerExceptionAttempt to invoke virtual method 'int android.content.Context.checkPermission(java.lang.String, int, int)' on a null object reference
--
  | android.support.v4.content.ContextCompat.checkSelfPermission (ContextCompat.java:439)
  | agency.tango.materialintroscreen.SlideFragment.hasPermissionsToGrant (SlideFragment.java:154)
  | agency.tango.materialint

[2018-01-30 06:45] Photogad opened #147 "will it detect automatically first time app is launch to show into, and never show again?"
I am not an android programmer but I'm the CEO of an app company and my developer died. I need to quickly put a material intro into one of my app. I don't really know java that well but I can follow the directions on the page. But my question is, if I add this library and the fragment, will this automatically detect the app is first opened by user and show the intro? And then never show it again a

[2018-01-30 07:05] radzio commented on #147
Hello, my condolences. This library does not have this functionality. You have to implement it on your own. You can use this: https://github.com/jonfinerty/Once to implement what you want.

[2018-01-30 07:05] #147 closed, assigned to nobody

[2018-02-06 09:36] zafahix commented on #121
That was very easy!

Add to the strings.xml
[code]

[2018-02-13 22:58] abreuretto opened #148 "java.lang.RuntimeException"
I use Tango Agency :
implementation 'agency.tango.android:material-intro-screen:0.0.5'
and I received thid message:

java.lang.RuntimeException:
  at android.app.ActivityThread.performLaunchActivity (ActivityThread.java:2830)
  at android.app.ActivityThread.handleLaunchActivity (ActivityThread.java:2905)
  at android.app.ActivityThread.-wrap11 (Unknown Source)
  at android.app.ActivityThread$H.han

[2018-02-19 15:10] dsdebastiani commented on #148
I received same error is two devices with Android: 8.0.0

[code]

[2018-02-24 06:59] ThitSarNL opened #149 "not ok with android support appcompat v7:26.1.0"
Dear TangoAgency,
Your material-intro-screen has error with
dependencies {
...
    implementation 'com.android.support:appcompat-v7:26.1.0'
...}
please, kindly fix it

[2018-02-24 16:55] radzio commented on #149
@ThitSarNL  What errors :)?

[2018-02-26 04:12] akmalshukri opened #150 "What version for latest release ?"
compile 'agency.tango.android:material-intro-screen:{latest_release}'

[2018-02-26 04:13] akmalshukri commented on #150
is it compile 'agency.tango.android:material-intro-screen:0.0.5' ?

[2018-02-26 08:06] radzio commented on #150
Yes.

[2018-02-26 08:06] #150 closed, assigned to radzio

[2018-02-26 08:46] emanf commented on #125
i just test it with no image! still i have the same problem.

can someone help me? :(

[2018-02-26 13:20] ThitSarNL commented on #149
<img width="1327" alt="screen shot 2018-02-26 at 7 40 59 pm" src="https://user-images.githubusercontent.com/34516413/36672478-c99cfd82-1b2d-11e8-947b-0718501a2f8f.png">
<img width="1141" alt="screen shot 2018-02-26 at 7 47 23 pm" src="https://user-images.githubusercontent.com/34516413/36672524-ecad269e-1b2d-11e8-92cf-93e8dd18f018.png">
<img width="748" alt="screen shot 2018-02-26 at 7 49 08 pm" sr

[2018-02-26 13:23] bezmian commented on #149
It isn't related to our library.
![image](https://user-images.githubusercontent.com/17637583/36672659-6c706856-1b00-11e8-9974-68f648805e95.png)
![image](https://user-images.githubusercontent.com/17637583/36672670-72eee022-1b00-11e8-87c2-799703fdccdb.png)
As you can see we use 25.0.1 version of the Android Support Libraries.
You can check Gradle dependencies with  a
```gradle app:dependencies```
 c

[2018-02-26 13:23] #149 closed, assigned to nobody

[2018-02-27 16:29] MinaSamirCap opened #151 "fixed checkbox style when try to customize it"
I want to change the checked color of the checkbox using styles like this

`<android.support.v7.widget.AppCompatCheckBox
        android:id="@+id/checkbox"
        style="@style/CheckboxTheme"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="@string/privacy_validation"
        android:textColor="@color/primary_text"
        android:text

[2018-02-28 12:11] bezmian commented on #151
Sorry, but issue is not related to the library.

[2018-02-28 12:11] #151 closed, assigned to nobody

[2018-02-28 13:33] MinaSamirCap commented on #151
okay thanks ..

[2018-03-07 20:40] RodrigoSolanoMarques commented on #149
To run I added the following
[code]

[2018-03-08 14:52] attanasio94g commented on #135
+1

[2018-03-08 14:52] attanasio94g commented on #134
+1

[2018-03-09 18:42] DanielCFreitas opened #152 "How to change the text button "Grant Permission""
I am from Brazil and I want to change the text, Can I do that?

[2018-03-20 10:33] anirudha-banerjee commented on #33
Is there any update on this?

[2018-03-26 13:21] makcakaya opened #153 "neededPermissions() - Improve "Don't ask again" experience"
When the user is asked for permissions and the user rejects with "don't ask again", it would be better if the slide fragment redirected the user to settings or provided an alternative message for the user to go to settings and give permissions to the app manually.

Currently, permission button stays in the view and clicking on it would just display the `description`. As a user, it is not that easy

[2018-03-31 00:10] gsb216200 opened #154 "Failed to resolve in "app" gradle"
I keep gettings failed to resolve: agency.tango.andriod.material-intro-screen:26.1.0

In the intro activity java file I have a gazzilion errors with R. addslide, getbackbuttontrasnlationwrapper etc?

[2018-04-02 19:12] radzio commented on #154
https://bintray.com/tangoagency/maven/material-intro-screen/0.0.5

![image](https://user-images.githubusercontent.com/469111/38211396-9c753042-36ba-11e8-8335-f08527146c6c.png)

[2018-04-02 19:13] #154 closed, assigned to nobody

[2018-04-11 10:53] makcakaya commented on #96
I encountered the same problem. When background color is white, the text and the message button breaks the view.

[2018-04-11 15:02] vivekpanchal opened #155 "Cannot create variant 'android-lint' after configuration ':material-intro-screen:debugRuntimeElements' has been resolved"
getting this error when importing the project. seems like gradle4.4 not supported yet as I am on android studio 3.1

Cannot create variant 'android-lint' after configuration ':material-intro-screen:debugRuntimeElements' has been resolved

![errorgithub](https://user-images.githubusercontent.com/22134822/38625122-6c4ae5c4-3dc7-11e8-92d9-f190ec922bb2.PNG)

[2018-04-15 13:21] iksena commented on #133
I'm still getting this issue, is there an alternative to solve this? instead of waiting for new release? thanks

[2018-04-24 02:41] luck-alex13 commented on #39
Hi @am2222,
Try this code in Activity, that extends MaterialIntroActivity
`findViewById(R.id.button_next).performClick();`
It work for me fine.

[2018-04-24 03:14] luck-alex13 opened #156 "Resources$NotFoundException Resource ID #0x0"
I have such crash in my firebase console.

[code]

Full stacktrace is here https://pastebin.com/hsFRtP5V

My IntroActivity https://pastebin.com/cxBbuqdj
and custom slide https://pastebin.com/g5VVww5e

[2018-04-24 03:19] luck-alex13 opened #157 "IllegalArgumentException permission cannot be null or empty"
I have such crash in my firebase console. I think this happens when the user gives permissions in the settings of the application, and then returns back to the application. Or when they rejected them and checked checkbox"no longer asking".

[code]

My IntroActivity https://pastebin.com/cxBbuqdj
and custom slide https://pastebin.com/g5VVww5e

[2018-05-04 07:11] akmalshukri commented on #131
i also want to change it . anybody can give some idea ?

[2018-05-04 09:43] RajkumarRepo commented on #155
Same Issue Occur when updating the gradle

[2018-05-11 13:03] sugarshock opened #158 "No fragment support?"
The "original" implementation by @HeinrichReimer supported adding custom fragments into the slides.
How about this one?

[2018-05-13 01:55] Photogad opened #159 "add more padding around text in intro slides"
I know you don't maintain or update this library anymore, but just throwing this out there.

it would be nice if you could change it so the text on the slides have more padding.  currently, the text pretty much touches the edges of the device and it looks bad.

it's sad this library isn't updated anymore because it's probably one of the best and easiest to use intro screen libraries out there for

[2018-05-13 11:02] bezmian commented on #159
Hi @photog0411! You can always create a custom slide with custom padding :)

[2018-05-14 20:34] osairon commented on #135
+1

[2018-05-18 15:36] charlesawoodson commented on #148
I'm currently having the same problem as stated above, has anyone resolved or figured out a work around solution?

[2018-05-19 20:14] ashfaaaa commented on #156
i have same problem did you find the fix?

[2018-05-21 03:43] luck-alex13 commented on #156
@ashfaaaa I'm not, even no ideas how to fix. This is an internal library error

[2018-05-29 21:52] FFF88 opened #160 "How to use gif?"
Hi
is there a way to load gifs into .image?
Thank you

[2018-06-02 05:40] seupedro opened #161 "minSdkVerison"
Tell which is lower minSdkVersion that your library supports, please

[2018-06-12 18:18] alisidhu opened #162 "Intro on back slide moves Grant permission not hide"
hi sir,
by using your intro screen. i have set grant permission button in last slide. but when i move back or previous slide that grant button not get hide in each previous slides.. how i can hide that button on previous slides

[2018-06-14 10:21] freaksgit opened #163 "ViewPager swipes issue"
Hello!

User can skip locked (by not granted permission or other condition) screen when swiping between screens (fragments) without finger tearing off. See [video](https://www.youtube.com/watch?v=xLHcVCa0y5E)

Also, sometimes i'v got an exception when swiping without finger tearing through custom Terms fragment with checkbox. See [video](https://www.youtube.com/watch?v=ANz59IrpUng)
`android.conten

[2018-06-18 10:59] faezsghfi opened #164 "Toast instead of snackbar"
I want to show a message in Farsi `cantMoveFurtherErrorMessage` . and snack bar does not show it well so I want to use toast message . how can I do that? how to remove snack bar?

[2018-06-27 09:56] mohammadashenab commented on #155
Same Issue here

[2018-07-09 15:27] j0sem4rio commented on #152
put in string file
`<string name="grant_permissions">Conceder permissões</string>`

[2018-07-15 13:30] mseslami commented on #155
same here :(

[2018-07-17 20:37] patoigz opened #165 "Button permissions"
Have an issue, after permissions slide. The btn to ask permissions the first time doesn't disappear. And if you touch, it throws an exception.

Im using android 7.1

Attached the sequence...

1. The first time
![1](https://user-images.githubusercontent.com/5298326/42843910-dbcc3904-89e7-11e8-870d-becae1136cbc.png)

2. After accept all permissions
![2](https://user-images.githubusercontent.com/5298

[2018-07-24 21:52] patoigz commented on #131
+1

[2018-07-29 22:32] prasannajeet opened #166 "error: expected reference but got (raw string) #000000."
I get the error when I add the library but it goes away when I remove it

![image](https://user-images.githubusercontent.com/3320483/43371318-c6ca8a08-9354-11e8-9cfa-b196c49effc2.png)

Activity code - https://pastebin.com/PnySwfz2

I get the error here in the merged values.xml file:

[code]

[2018-07-30 13:57] kz89 commented on #135
There's an `onFinish` method in the `MaterialIntroActivity` that you can override and implement your logic as needed.

[2018-07-30 19:05] divyankvijayvergiya opened #167 "Change text Color and size"
How Do I change the text color and size in this library?

[2018-08-04 05:08] damionx7 commented on #161
minSdkVersion 15

[2018-08-04 05:09] damionx7 commented on #134
+1

[2018-08-04 09:35] seupedro commented on #161
Please, put on readme

[2018-08-04 09:35] #161 closed, assigned to nobody

[2018-08-06 00:44] MagicJohnJang commented on #160
No, but you could still show gif by CustomSlide
ref. https://github.com/TangoAgency/material-intro-screen/issues/107

[2018-08-06 04:43] #166 closed, assigned to nobody

[2018-08-06 07:17] Asykur opened #168 "is it possible to control transition page speed? how i can to do that.."

[2018-08-08 19:11] mirjalal commented on #122
Have you solved your problem?

[2018-08-10 10:17] t0mjoad commented on #165
Did you managed to solve your issue @patoigz ?

[2018-08-14 19:02] patoigz commented on #165
Nop, not yet. But i found that the issue happens in only one device, A moto G2.

[2018-08-18 13:28] frapeti opened #169 "Not compatible with AndroidX"
java.lang.IllegalAccessError: Method 'void androidx.viewpager.widget.PagerAdapter.setViewPagerObserver(android.database.DataSetObserver)' is inaccessible to class 'androidx.core.view.CustomViewPager' (declaration of 'androidx.core.view.CustomViewPager' appears in /data/app/com.myapp-kpPRJwiysP3ALIy5WkActg==/base.apk!classes2.dex)
        at androidx.core.view.CustomViewPager.setAdapter(CustomViewP

[2018-08-28 07:27] SpeedFire0 commented on #169
Confirm that!

2018-08-28 10:21:31.580 11301-11301/ru.speedfire.flycontrolcenter E/AndroidRuntime: FATAL EXCEPTION: main
    Process: ru.speedfire.flycontrolcenter, PID: 11301
    java.lang.IllegalAccessError: Method 'void androidx.viewpager.widget.PagerAdapter.setViewPagerObserver(android.database.DataSetObserver)' is inaccessible to class 'androidx.core.view.CustomViewPager' (declaration of 'and

[2018-08-29 19:38] SpeedFire0 commented on #169
It seems that this library is not supported anymore.
I've changed my intro screen to this one https://github.com/apl-devs/AppIntro
It's AndroidX compatible.

[2018-09-08 20:05] stevdza-san opened #170 "Compilation failed to complete"
When I try to launch an app with every piece of code in place I get this message, aly help?

Program type already present: android.support.design.widget.CoordinatorLayout$ViewElevationComparator
Message{kind=ERROR, text=Program type already present: android.support.design.widget.CoordinatorLayout$ViewElevationComparator, sources=[Unknown source file], tool name=Optional.of(D8)}

[2018-09-08 21:02] stevdza-san commented on #170
I have even added: 'com.android.support:design:27.0.2'
But when application finally launches, I get transparent activity and nothing shows up.

[2018-09-09 07:01] ognjenns commented on #148
workaround:
https://stackoverflow.com/questions/46992843/interstitial-admob-ads-illegalstateexception-only-fullscreen-activities-can-r/48665610#48665610

[2018-09-13 11:13] mohamedhamada1 opened #171 "How to add background as image instead of color"
to add background I should use
                .backgroundColor(R.color.dark)
there is any way to use drawable ?

[2018-09-29 19:52] alejouribesanchez commented on #131
+1 I have the same issue, is this repo still alive?

[2018-10-02 15:53] malavancs opened #172 "Background not working"
When set the addSlideFragment its shows like this
![whatsapp image 2018-10-02 at 21 21 39](https://user-images.githubusercontent.com/25359639/46360557-598c8280-c689-11e8-8f55-571e1b39475b.jpeg)

[2018-10-18 22:01] zboing commented on #134
In MaterialIntroActivity from the library you create the method:

    public void goToNextSlide() {
        viewPager.setCurrentItem(viewPager.getCurrentItem()+1, true);
    }

and in your activity project:

      addSlide(new SlideFragmentBuilder()
                        .backgroundColor(R.color.third_slide_background)
                        .buttonsColor(R.color.third_slide_buttons)

[2018-10-21 11:02] mbf5923 commented on #156
i have same problem when add two SlideFragment

[2018-10-28 20:12] rdunlocked18 commented on #130
Remove "agency.tango.materialintroscreen." this much part and give your File name

[2018-10-28 20:55] rdunlocked18 opened #173 "Drawable Background Support"
actually with this i mean i want to use the Gradient background color created by Drawable resource file ..thanks if possible please markup

[2018-10-29 06:57] #130 closed, assigned to nobody

[2018-11-02 11:44] DivyaPrajapati09 commented on #155
any updates on this issue?

[2018-11-02 11:54] mohsinagc commented on #155
Same Issue Here

[2018-11-02 12:31] DivyaPrajapati09 commented on #155
Firstly dont update the project when prompted. Keep gradle version to 4.4 and build tool version to 3.1.0. Also update classpath of nova to **classpath 'com.novoda:bintray-release:0.8.0'**.
Next navigate to build.gradle file of material-intro-screen library and look for **classpath = project.files(variant.javaCompile.classpath.files) + project.files(ext.androidJar)** replace it with **doFirst {

[2018-11-12 10:10] vedprakashwagh commented on #169
Yes this library is androidx compatible, the way he's added the class CustomViewPager into android.support.v4.view package makes android studio confuses the android studio while migrating, simple fix is to just drop the CustomViewPager class into different package which does not have support package name

[2018-11-12 10:16] vedprakashwagh opened #174 "Make library androidx compatible my changing the package of CustomViewPager"
People who are facing this problem #169
For anyone getting errors while migrating to androidx, this library is androidx compatible, the way creator has added the class CustomViewPager into android.support.v4.view package confuses android studio while migrating. While migrating to androidx through the Refactor->Migrate to AndroidX, Android studio finds the package names of all the support dependenc

[2018-11-13 11:39] Adsama94 commented on #146
I faced this same issue. The fix for this is explained here - https://stackoverflow.com/questions/37322645/nullpointerexception-when-trying-to-check-permissions

[2018-11-20 13:52] frapeti commented on #169
https://github.com/MiAutobus/material-intro-screen/commit/663ece31c0cabd0809f74843a7c12a3d8301c62a

[2018-11-24 15:40] DreierF commented on #169
I created a fork of this library since the author seems to no longer maintain it and published an AndroidX compatible version to maven central: https://github.com/DreierF/material-intro-screen

[2018-12-03 04:56] #134 closed, assigned to nobody

[2018-12-08 15:48] ExploiTR commented on #165
@patoigz Same issue here on all of my devices

[2019-01-07 18:29] ghost opened #175 "How to enter a string from a strings.xml file?"
When I try `.title(R.string.anonymity)` it throws an error

[2019-01-10 10:51] arpit888 commented on #167
any updates ?

[2019-01-17 12:51] nietsmmar commented on #131
+1 Having the same problem

[2019-02-15 13:45] t0mjoad commented on #175
try:

[code]

[2019-02-15 13:48] t0mjoad commented on #165
Hello again @patoigz , how did you managed to translate "grant permissions" to spanish? Thanks!

[2019-02-15 14:07] t0mjoad opened #176 "permission button - internationalization"
Hello,

I'm trying to translate permission buttons to different languages. I've different `strings.xml` files under `res/values/strings`, with `grant_permissions` like:

`<string name="grant_permissions">Grant permissions</string>`

`<string name="grant_permissions">Conceder permissões</string>`

`<string name="grant_permissions">Dar permisos</string>`

But it's not really working, string is alway

[2019-02-15 14:21] t0mjoad commented on #176
Well. I'm sorry for this, but now seems to be working.

[2019-02-15 14:21] #176 closed, assigned to nobody

[2019-02-15 14:32] patoigz commented on #165
@t0mjoad thats easy! you've got to define **"grant_permissions"** in your strings xml file, with your custom message...

[2019-03-05 16:53] ilovrencic opened #178 "Color transition"
First of all, this library is awesome. It saved me a lot of time and it looks awesome. Now, my question is about a color transition. I made 4 custom slides and the slider works, but there is no that smooth color transition between slides like you have in your README file. Do you know maybe why is that?

[2019-03-09 12:33] rulogas opened #179 "add the library to my project"
Sorry I'm starting to program on android and I don't know how to add the library to my project. The IDE says me that "compile" is obsolete when I add the dependency. I should use implementation but when I use it, it gives me this error:

ERROR: Failed to resolve: agency.tango
Affected Modules: app

these are my dependencies:

dependencies {
    implementation fileTree(dir: 'libs', include: ['*.jar

[2019-03-09 12:40] rulogas commented on #179
ok I think was for {lates release}, I didn't see it sorry. But now I have problem with versions.

[2019-03-09 12:43] rulogas commented on #179
Does it work for android 8 or 9?

[2019-03-18 10:56] bezmian commented on #178
Hi @ilovrencic! Can you please add some code which will show me that behaviour?

[2019-03-18 10:57] #175 closed, assigned to nobody

[2019-03-18 10:58] #168 closed, assigned to nobody

[2019-03-18 10:59] bezmian commented on #173
Hi @rdunlocked18! You can always create custom slide for that.

[2019-03-18 10:59] #173 closed, assigned to nobody

[2019-03-18 11:39] #144 closed, assigned to nobody

[2019-03-18 11:40] #140 closed, assigned to nobody

[2019-03-18 11:40] #159 closed, assigned to nobody

[2019-03-18 11:40] #160 closed, assigned to nobody

[2019-03-18 11:42] #128 closed, assigned to nobody

[2019-03-18 11:42] #125 closed, assigned to nobody

[2019-03-18 11:42] #112 closed, assigned to bezmian

[2019-03-18 11:42] #100 closed, assigned to radzio

[2019-03-18 14:30] bezmian commented on #179
Yes

[2019-03-18 14:30] #179 closed, assigned to nobody

[2019-03-18 14:33] bezmian commented on #167
Hi! To achieve that you need to implement a CustomSlide.

[2019-03-18 14:33] #167 closed, assigned to nobody

[2019-03-18 14:36] bezmian commented on #158
Hi @inphonica-soft! You can add your custom slide by extending `SlideFragmentBase`.

[2019-03-18 14:36] #158 closed, assigned to nobody

[2019-03-18 14:40] #152 closed, assigned to nobody

[2019-03-18 14:41] bezmian commented on #171
Hi @mohamedhamada1! You can always implement your own `CustomSlide` by extending `SlideFragmentBase`

[2019-03-18 14:41] #171 closed, assigned to nobody

[2019-03-18 15:12] #135 closed, assigned to nobody

[2019-03-18 15:16] #137 closed, assigned to nobody

[2019-03-18 15:17] bezmian commented on #137
In order to do this you need to implement your own `CustomSlide` by extending `SlideFragmentBase`

[2019-03-18 15:17] #138 closed, assigned to nobody

[2019-03-18 18:08] mohamedhamada1 commented on #174
I face same issue

[2019-03-21 12:24] #49 closed

[2019-04-11 06:57] naufalkleisner opened #181 "Auto Slide"
can i set to auto slide?

[2019-04-19 11:49] XmissterioX commented on #168
I wanted to ask the same question too ...

[2019-05-12 14:14] vijayphulwadhawa opened #182 "Compatibility issues reported"
Unsupported

2 warnings identified
The following APIs are greylisted and Google can’t guarantee that they will work on existing versions of Android. Some may be already be restricted for your target SDK

API Landroid/view/View;->computeFitSystemWindows(Landroid/graphics/Rect;Landroid/graphics/Rect;)Z
1 occurrence identified

API Landroid/view/ViewGroup;->makeOptionalFitsSystemWindows()V
1 occurren

[2019-06-06 21:27] polvallsortiz commented on #125
Why it has been closed? I'm having the same issue...

[2019-07-18 13:49] hardapps1692 commented on #157
Any solution

Do you get any solution for this issue? Please update for same

[2019-07-23 07:34] crearo commented on #39
Even more so I'd like to move to the next page when the previous permission was granted. And this library just makes that so hard! Ah that would've been obvious and straightforward had i chosen to code it myself and not use a library :(

[2019-08-30 13:56] saddahussain commented on #169
@DreierF Highly appreciate your work. Keep up the good work.

[2019-09-01 13:37] Hatzen commented on #66
As there is already an issue closed with the excat same error, i guess it would be better to make those needed methods abstract?

[2019-09-09 00:34] zjxuzhj commented on #169
@DreierF thank you

[2019-10-16 18:52] Sanaebadi97 commented on #169
@DreierF tnx
I used
`    implementation 'io.github.dreierf:material-intro-screen:0.0.6'`

and solve my problem

[2019-11-06 06:42] SomSankar commented on #172
Try to add multiple addSlide, It will work. Thank You!

[2019-11-06 06:47] SomSankar commented on #172
Or you can use values -> styles.xml

<style name="IntroTheme" parent="Theme.Intro">

        <item name="colorPrimary">@color/colorPrimary</item>
        <item name="colorPrimaryDark">@color/colorPrimaryDark</item>
        <item name="colorAccent">@color/colorAccent</item>
        <item name="android:fontFamily">@font/body</item>
    </style>

Manifest
<activity
            android:name=".IntroAct

[2019-11-08 04:52] malavancs commented on #172
It should be specified in the documentation right ?

[2020-01-08 20:43] Hatzen commented on #131
Didnt test it myself but you can fork this repo and change the line
                app:currentPageIndicatorColor="@android:color/white"
within activity_material_intro.xml to any color you want. Forks can easily used with gradle via jitpack.

------
More generic way would be to make a setter within MaterialIntroActivity which sets selectedColour within InkPageIndicator or just make a customizable

[2020-01-08 20:56] Hatzen commented on #126
Why dont you use a custom slide fragment? Simply create a layout and inflate it in the new Fragment class extending WelcomeBaseFragment. Within MaterialIntroActivity you can easily add these Fragments via addSlide(myFragment)
As mentioned in the Readme https://github.com/TangoAgency/material-intro-screen/blob/master/app/src/main/java/agency/tango/materialintro/CustomSlide.java

[2020-05-09 10:12] saeidparvizi commented on #174
@DreierF tnx
I used
implementation 'io.github.dreierf:material-intro-screen:0.0.6'
and solve my problem

[2020-05-29 05:34] chengjichao commented on #157
您有解决方案了吗？

[2020-06-05 03:33] luck-alex13 commented on #157
@chengjichao  I just don't request permission in IntroActivity :D

[2020-07-12 12:07] BhoomiKhan commented on #169
thank you dreierF your solution helped me a lot.

[2020-07-13 06:21] ghost commented on #181
`this.findViewById(R.id.button_next).callOnClick();
`
Put above code inside the activity that extends `MaterialIntroActivity` - this would help you move to next page

[2020-07-25 01:57] guriosam commented on #169
You are a god, just saved my day!

[2020-08-10 13:31] NarzaryU commented on #174
He forked from here.

[2020-08-10 15:27] NarzaryU opened #183 "This intro screen every time I launch the app."
Hi @DreierF
 I used your library but the intro screen launch every time at app start. It would be helpful if you can show me how to show it only once.

[2020-08-21 07:16] thebentiq commented on #183
Try to use SharedPreferences as a temporary workaround. Initially set preference to false/0 and after intro has been used it would change the value itself to true/1. When app opens, it detects that value is now true and intro would not show up.

[2020-09-03 09:01] #183 closed, assigned to nobody

[2021-02-16 18:47] cesaroer opened #185 "Compatibility library source does not match the bytecode for class android studio"
Shows this message on MaterialIntroActivity

[2021-04-17 17:45] umutgultekn commented on #169
@DreierF thank u bro. It's work well.

[2022-01-04 00:21] raulespim opened #186 "Dependency getting error"
I get this error when try to put the dependency into build.gradle:

Failed to resolve: agency.tango.android:material-intro-screen:0.0.5

... this is my line of implementation in build.gradle:
implementation 'agency.tango.android:material-intro-screen:0.0.5'

what is wrong?

[2022-01-13 16:54] EvanescentApps commented on #186
It seems like JCenter is shutting down it may be the reason, I have the same issue

[2022-01-13 16:57] EvanescentApps opened #187 "Unavailable : JCenter shutting down"
The repository JCenter is shutting down from now (and definitively on May, 1st) and the dependency seems to be unavailable elsewhere, some migration is planned?

[2022-03-19 08:30] Mori-hub opened #188 "PagerAdapter.setViewPagerObserver"
Please see this error:
`java.lang.IllegalAccessError: Method 'void androidx.viewpager.widget.PagerAdapter.setViewPagerObserver(android.database.DataSetObserver)' is inaccessible to class 'androidx.core.view.CustomViewPager' (declaration of 'androidx.core.view.CustomViewPager' appears in /data/app/~~vThNgAKWI10VdWiEs5RjsQ==/com.src.passnote-rPRKY4em-opZaksUITTuDg==/base.apk)`

[2022-07-28 03:01] malikabidjoyia opened #189 "Meterial_intro_screen"
i am using the library but I could not change the color of the text after that I remove the theme from androidmanifest this issue had solve

[2022-08-26 18:04] #124 closed, assigned to nobody